<div class="logo">
  <img id="logo" src="/assets/corelist-logo.png" />
</div>

<mat-nav-list>
  <a mat-list-item routerLink="/dashboard" routerLinkActive="active">
    <mat-icon matListItemIcon>dashboard</mat-icon>
    <span matListItemTitle>Dashboard</span>
  </a>
  <a mat-list-item routerLink="/usuarios" routerLinkActive="active">
    <mat-icon matListItemIcon>people</mat-icon>
    <span matListItemTitle>Usuários</span>
  </a>
  <a mat-list-item routerLink="/categorias" routerLinkActive="active">
    <mat-icon matListItemIcon>category</mat-icon>
    <span matListItemTitle>Categorias</span>
  </a>
  <a mat-list-item routerLink="/produtos" routerLinkActive="active">
    <mat-icon matListItemIcon>inventory</mat-icon>
    <span matListItemTitle>Produtos</span>
  </a>
  <a mat-list-item routerLink="/listas" routerLinkActive="active">
    <mat-icon matListItemIcon>list_alt</mat-icon>
    <span matListItemTitle>Listas</span>
  </a>
  <a mat-list-item routerLink="/itens" routerLinkActive="active">
    <mat-icon matListItemIcon>shopping_cart</mat-icon>
    <span matListItemTitle>Itens</span>
  </a>
</mat-nav-list>
